@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Algumas configurações universais que quero aplicar em todo o projeto. 
Configurações básicas aplicadas ao corpo do documento e variáveis CSS definidas na raiz 
para facilitar a manutenção e a consistência do design.*/

body,
html {
  overflow-x: hidden;
  font-size: var(--fontsize2);
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

[tabindex]:focus {
  outline: var(--focusoutline);
  border-radius: 9px;
}

.mouse [tabindex]:focus {
  outline: none;
  border-radius: 0;
}

:root {
  --tweetborder: #f29100 solid 1px;
  --visibility: none;
  --laranjacajui: #f29100;
  --begecajui: #fff5e5;
  --fontsize1: 25px; /* Tamanho da fonte título */
  --fontsize3: 20px;
  --fontsize2: 15px; /* Tamanho da fonte texto */
  --fontsize4: 64px;
  --fontcolor: black;
  --focusoutline: solid #633714;
}

body {
  background: var(--begecajui); /* Cor de fundo da identidade visual da Cajuí*/
}

/* Cabeçalho */

#navbar img {
  /* Logo Cajuí */
  padding: 5px;
  display: flex;
  width: 120px;
  height: 150px;
  object-fit: contain;
}

#navbar {
  /* Barra no  topo da tela */
  display: flex;
  text-align: center;
  justify-content: space-between;
  background-color: var(--laranjacajui);
  width: 100%;
  height: fit-content;
}

#listen:hover {
  width: 150px;
  height: 60px;
  cursor: pointer;
  transition: all 0.1s;
  background-color: #fbf1b4;
}

#listen {
  justify-content: center;
  border: 0;
  display: flex;
  align-items: center;
  margin: auto;
  border-radius: 9px;
  font-size: var(--fontsize2);
  width: 60px;
  height: 60px;
  font-size: var(--fontsize1);
  cursor: pointer;
  transition: all 0.1s;
  background-color: #ffffff;
}

#listen:hover #leituradapagina {
  animation: fadein 2s forwards;
  opacity: 1;
  font-size: 12px;
  display: inline;
}

#leituradapagina {
  font-weight: 600;
  font-size: 12px;
  display: none;
  opacity: 0;
  text-align: center;
  justify-content: center;
  color: var(--fontcolor);
  transition: all 1s ease-in;
}

#listen img {
  display: flex;
  width: 40px;
  height: 40px;
}

#navbar #titulo {
  /* Texto: "Cajuí + Rio Grande do Sul */
  color: #ffffff;
  margin: 0% 2%;
  font-weight: 900;
  display: flex;
  text-align: center;
  align-items: center;
}

.show {
  /*Botões da lista */
  z-index: 5;
  position: fixed;
  font-size: var(--fontsize2);
  pointer-events: auto;
  transition: all 0.5s;
  animation: fadein 1s forwards;
}

/* classe que esconde os botões */

#links .hide {
  opacity: 0;
  pointer-events: none;
  animation: linksclose 0.5s ease-in-out forwards; /* Faz com que os itens não sejam clicáveis em opacidade 0 */
}

/* Botão que abre e fecha a lista em estado fechado */

#links .closed {
  opacity: 0.4;
  animation: menuclose 1s ease-in-out forwards;
}

#links .open {
  transition: all 1s;
  animation-name: sandwich;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  background-image: url(../static/svg/x.svg);
}

#list {
  /* Icone da lista suspensa */
  opacity: 1;
  z-index: 5;
  position: sticky;
  width: 100px;
  height: 30px;
  font-size: var(--fontsize3);
  background-image: url(../static/svg/menu.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: var(--laranjacajui);
  border-radius: 10px;
  transition: all 0.5s;
}

#list:hover {
  opacity: 1;
  cursor: pointer;
}

#list:hover {
  opacity: 1;
  cursor: pointer;
}

/* Botões */

.botao {
  display: flex;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  transition: all 0.5s;
  text-decoration: none;
  color: var(--laranjacajui);
}

.botao:hover {
  background-color: var(--begecajui);
  cursor: pointer;
}

.botao:active {
  font-size: var(--fontsize1);
}

/* Conteúdo: Textos, imagens */

/* Texto + Conteúdo */

audio {
  display: none;
}

section .audio {
  width: 1%;
  height: 1%;
  opacity: 0;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 99;
}

#textbox {
  justify-content: center;
  display: flex;
  flex-flow: nowrap;
  margin: auto;
}

#content h2 {
  font-size: var(--fontsize1);
  display: flex;
  align-items: center;
  justify-content: center;
}

#content p {
  font-size: var(--fontsize2);
  margin: auto;
  width: 80%;
  height: 100%;
}

h2 {
  align-self: center;
  justify-self: center;
  display: flex;
  color: var(--fontcolor);
  text-align: center;
  justify-content: center;
  font-size: var(--fontsize3);
  margin: 1% auto;
}

.instlist {
  color: rgb(0, 0, 0);
  list-style: none;
  margin: 5% 0;
  background-color: var(--laranjacajui);
  padding: 5%;
  transition: all 0.5s ease-in;
  max-width: 70vw;
}

#alttext {
  /* Texto alternativa de imagens onde necessário*/
  font-size: 12px;
  visibility: hidden;
  justify-content: center;
  align-items: center;
  display: flex;
}

section {
  margin: 5% auto;
  width: 100%;
  height: 100%;
  max-width: 1000px;
  max-height: 1000px;
}

/* Conteúdos tela inteira*/

.bigtitle {
  color: #ffffff;
  text-align: center;
  font-size: var(--fontsize4);
  margin: auto;
}

.blackbackground {
  margin: 0 0 10% 0;
  border-bottom: var(--laranjacajui) solid 5px;
  background-blend-mode: color;
  background-color: #000000a8;
  background-position: center;
  width: 100%;
  height: 520px;
  display: flex;
}

/* Seção 1 */

section:hover #alttext {
  /*Texto alternativo viísvel em hover */
  visibility: visible;
}

.slides {
  display: flex;
  margin: 10% auto 0 auto;
  width: 700px;
  height: 500px;
  object-fit: cover;
  border: var(--laranjacajui) solid 10px;
  border-radius: 9px;
  box-shadow: rgb(255, 255, 255) 5px 5px;
}

.slides img {
  object-fit: contain;
}

#welcome {
  height: 1250px;
  background-position: initial;
  background-size: cover;
  background-image: url(../static/Images/fundo-social_solidariedade-doacoes-rio-grande-do-sul-carreta-empresa-kothe_fm_-51.webp);
}

/* Seção 2 */
#heroes {
  background-size: cover;
  background-image: url(../static/Images/doaçãogarrafasdgua.webp);
}

/* Pessoas que doaram */

.person {
  text-align: center;
  padding: 1px;
  margin: 1% auto;
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  background-color: #ffffff;
  max-width: 499px;
  height: 50px;
  list-style: none;
  border-radius: 25px;
  transition: all 0.1s;
}

.person ion-icon {
  width: 30px;
  min-width: 100px;
  height: 100%;
  width: fit-content;
}

.person p {
  text-align: center;
  display: inline;
  font-size: var(--fontsize2);
}

#username {
  font-size: var(--fontsize2);
  margin: 5% 0;
  text-align: center;
}

#pessoa {
  background-color: #ffffff;
  margin-right: 6%;
  border: #000000 solid;
  border-radius: 999px;
}

input {
  width: 100%;
  border: 0;
  height: 50px;
  border-radius: 25px;
}

input:focus {
  border: 0;
  outline: none;
  height: 50px;
  border-radius: 25px;
}

#usernameinput:after {
  content: "\2190	";
  padding: 25px;
  font-size: 20px;
}

#usernameinput:hover {
  border: var(--laranjacajui) 5px solid;
  border-radius: 999px;
  background-color: var(--laranjacajui);
}

/* Seção 3 */

#howtohelp {
  background-size: cover;
  background-image: url(../static/Images/portao-bombeiros-06_0.webp);
}

/* Seção 4 */
#depoimentos {
  background-size: cover;
  background-image: url(../static/Images/barco.webp);
}

/*  Tweets */

.tweet {
  margin: 5%;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: left;
  width: 500px;
  height: fit-content;
  background-color: white;
  border-radius: 20px;
  transition: all 0.5s;
}

.tweet:hover {
  box-shadow: #05050533 5px 5px 50px;
  width: 600px;
  transform: scale(1.2);
  height: max-content;
}

#pessoatweet {
  align-self: center;
  margin: 5%;
  min-width: 60px;
  min-height: 60px;
  border: var(--tweetborder);
  border-radius: 999px;
  background-image: url(../static/Images/lana.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

#pessoatweet2 {
  align-self: center;
  margin: 5%;
  min-width: 60px;
  min-height: 60px;
  border: var(--tweetborder);
  border-radius: 999px;
  background-image: url(../static/Images/alex.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

#pessoatweet3 {
  align-self: center;
  margin: 5%;
  min-width: 60px;
  min-height: 60px;
  border: var(--tweetborder);
  border-radius: 999px;
  background-image: url(../static/Images/idosos.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.dadostweet p {
  display: inline;
}

.dadostweet {
  position: flex;
  width: 400px;
  height: fit-content;
  padding: 5px;
}

.dadostweet span {
  color: #0000004d;
}

#tweetbox {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  flex-flow: row nowrap;
}

.heart {
  margin-top: 10px;
  display: flex;
  color: var(--laranjacajui);
  font-size: 25px;
  cursor: pointer;
}

.heart:active {
  transform: scale(1.5);
}

.heart:hover {
  fill: red;
}

/*Seção 5 */

#itens {
  background-size: cover;
  background-image: url(../static/Images/doaçõesupscailed.webp);
}

.itemlist {
  justify-content: space-between;
  display: flex;
  flex-flow: wrap row;
  margin: auto;
  width: 90%;
  max-height: fit-content;
}

.itemsquare {
  text-align: center;
  padding: 15px;
  max-width: 300px;
  max-height: 200px;
  margin: 5% auto;
}

.itemname {
  text-align: center;
  font-weight: 900;
  font-size: var(--fontsize3);
}

.item {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  transition: all 0.5s;
}
.item:hover {
  animation: wiggle 2s ease infinite;
}

/* Seção 6 */

#FAQ {
  background-size: cover;
  background-image: url(../static/Images/reuniaoRS.webp);
}

details {
  text-align: left;
  max-width: 550px;
  margin: auto;
  background-color: #ffffff;
  padding: 3%;
  border-radius: 9px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-self: center;
  transition: all 0.2s;
}

details:hover {
  max-width: 600px;
}

details[open] summary {
  height: auto;
  color: var(--laranjacajui);
}

details[open] p::before {
  content: "\21B3";
  margin: 1%;
}

details[open] summary::after {
  content: "\00D7";
}

details[open] p {
  background-color: var(--begecajui);
  padding: 10px;
  border-radius: 9px;
}

summary:after {
  content: "\002B";
  color: var(--laranjacajui);
  font-size: var(--fontsize2);
  text-align: right;
}

summary {
  justify-content: space-between;
  text-align: left;
  transition: all 1s;
  border: none;
  display: flex;
  user-select: none;
}

summary:focus {
  border: none;
}

summary::marker {
  display: none;
}

.questionmarkicon {
  display: flex;
  align-items: center;
  max-width: 25px;
  max-height: 50px;
}

/* Seção  */

#donatenow {
  border-radius: 9px;
  margin-top: 6%;
  color: #000000;
}

#donatenow h2 {
  color: rgb(0, 0, 0);
  margin: 1%;
  padding: 5px;
}

#doacaocontainer {
  display: flex;
  width: 250px;
  height: 300px;
}

.doacaobotao {
  width: 100%;
  height: 100%;
}

#pixcontainer {
  margin: 10%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 325px;
  height: 300px;
  transition: all 0.5s;
}

#pixsosrs {
  transition: all 1s;
}

#pixcontainer #pixsosrs:hover {
  transform: scale(1.8);
  background-color: var(--laranjacajui);
  cursor: copy;
}

#pixcontainer img {
  border-radius: 9px;
  display: flex;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

#LogoAçãodaCidadania {
  height: 200px;
  object-fit: cover;
}

.caixalogos {
  margin: auto;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-flow: row nowrap;
  padding: 50px;
  transition: all 0.54s;
}

.caixalogos a {
  height: fit-content;
  font-weight: 900;
  font-size: var(--fontsize2);
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  color: var(--laranjacajui);
}

.caixalogos img {
  width: 250px;
  height: 100px;
  object-fit: contain;
  transition: all 0.5s;
}

.caixalogos img:hover {
  width: 300px;
  height: 150px;
}


#backtotop {
  display: flex;
  align-items: center;
  justify-content: center;
}

#backtotopbutton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--laranjacajui);
  width: 250px;
  height: 50px;
  transition: all 0.5s;
}

#backtotopbutton p{
  font-weight: 600;
  font-size: 0px;
  opacity: 0;
  transition: all 0.5s;
}

#backtotopbutton:hover p {
  font-size: 12px;
  opacity: 1;
  display: flex;
  margin: 5%;
}

/* Footer */

#footbar {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  margin-top: 250px;
  height: 300px;
  width: 100%;
  background-color: var(--laranjacajui);
}

#footbar p {
  display: flex;
  padding: 10px;
  font-size: var(--fontsize2);
}

.socialmediacontainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: row nowrap;
  width: 100%;
  height: 100px;
}

.socialmedia {
  display: flex;
  align-items: flex-end;
  justify-content: left;
}

.iconname {
  text-decoration: none;
  text-align: left;
  display: flex;
  align-items: center;
  width: 20px;
  height: 20px;
  margin: 2% auto;
  transition: all 0.5s;
  color: #ffffff;
}

.iconname:visited {
  color: #ffffff;
}

.iconname:hover {
  color: black;
  width: 25px;
}

#footerh3 {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  align-self: flex-end;
  width: 400px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#importantlinks {
  position: absolute;
  top: 40%;
  left: 0;
  white-space: nowrap;
  height: 11vh;
  width: 25vw;
  text-align: left;
}

#importantlinks a {
  color: #000000;
  text-decoration: none;
}

#importantlinks a:hover {
  color: #ffffff;
  text-decoration: none;
}

#importantlinks li {
  list-style: none;
  justify-self: left;
}

/* Animação */

@keyframes wiggle {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}

@keyframes linksclose {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
    display: none;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes menuclose {
  to {
    width: 60px;
  }
}

@keyframes menuopen {
  to {
    width: 100px;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
    display: flex;
  }
  100% {
    opacity: 1;
    display: flex;
  }
}

@keyframes sandwich {
  0% {
    width: 50px;
  }

  100% {
    width: 100px;
  }
}

/* Media Queries para ajustes de responsividade, 
alterando tamanhos de fonte, espaçamentos e layout conforme a 
largura da tela do dispositivo. */

@media (max-width: 800px) {
  :root {
    --fontsize1: 20px;
    --fontsize2: 12px;
    --fontsize3: 15px;
    --fontsize4: 48px;
  }

  .slides {
    text-align: center;
    display: flex;
    margin: 10% auto 0 auto;
    width: 300px;
    height: 500px;
    object-fit: cover;
    border: var(--laranjacajui) solid 10px;
    border-radius: 9px;
    box-shadow: rgb(255, 255, 255) 5px 5px;
    transition: all 0.5s;
  }

  .slides img {
    display: flex;
    justify-content: center;
    transform: rotate(0.5turn);
  }

  #alttext {
    margin: 10%;
    display: flex;
    font-size: var(--fontsize2);
    visibility: visible;
    justify-content: center;
    align-items: flex-end;
  }

  #content p {
    font-size: var(--fontsize2);
    margin: auto;
    width: 80%;
    height: 100%;
  }

  #FAQ {
    background-position: center;
    margin-top: 80%;
  }

  #welcome {
    background-position: center;
  }

  #heroes {
    background-position: right;
  }

  .dadostweet {
    width: 300px;
  }

  .person {
    width: 300px;
  }

  .itemlist {
    justify-content: space-between;
    flex-flow: column nowrap;
    display: flex;
    width: 100%;
    height: 1000px;
  }

  .itemsquare {
    text-align: left;
    max-width: 150px;
    max-height: 100px;
    margin: 10% auto;
  }

  .itemname {
    text-align: center;
    font-weight: 900;
    font-size: var(--fontsize3);
  }

  .item {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    transition: all 0.5s;
  }

  .item:hover {
    animation: none;
  }

  .tweet {
    box-shadow: #05050533 5px 5px 50px;
    height: fit-content;
    width: 300px;
  }

  .tweet:hover {
    box-shadow: #05050533 5px 5px 50px;
    transform: scale(1.1);
    height: max-content;
  }

  details summary::after {
    margin-left: 2%;
  }

  details[open] summary::after {
    margin-left: 5%;
  }

  summary {
    justify-content: center;
    align-items: center;
  }

  details {
    max-width: 80%;
  }

  details:hover {
    max-width: 90%;
  }

  .questionmarkicon {
    display: none;
  }

  #pixcontainer {
    width: 200px;
    height: 300px;
  }

  #pixcontainer #pixsosrs:hover {
    transform: scale(1);
  }

  .caixalogos {
    margin: auto;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: column;
  }

  #LogoAçãodaCidadania {
    height: 100px;
    object-fit: cover;
  }

  .caixalogos img {
    width: 150px;
    height: 50px;
    margin: 15% auto;
    object-fit: contain;
  }

  .caixalogos img:hover {
    transform: scale(1.1);
    object-fit: contain;
    width: 150px;
    height: 50px;
  }

  .iconname {
    text-decoration: none;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: left;
    align-items: center;
    width: 20px;
    height: 20px;
    margin: auto;
  }
}
