/* Algumas configurações universais que quero aplicar em todo o projeto */
body,
html {
  font-size: var(--fontsize2);
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

:root {
  --visibility: none;
  --laranjacajui: #fd8900;
  --begecajui: #fbf1b4;
  --fontsize1: 25px; /* Tamanho da fonte título */
  --fontsize3: 20px;
  --fontsize2: 15px; /* Tamanho da fonte texto */
  --fontcolor: black;
}

/* classe que esconde os botões */

.hide {
  --display: none;
  --opacity: 0; /* Opacity 0 permite utilizar transition */
  transition: all 0.5s ease-in;
}

body {
  background: var(--begecajui); /* Cor de fundo da identidade visual da Cajuí*/
}

/* Cabeçalho */

#navbar img {
  /* Logo Cajuí */
  padding: 5px;
  display: flex;
  justify-content: flex-start;
  width: 100px;
  height: 100px;
}

#navbar {
  /* Barra no  topo da tela */
  justify-content: flex-start;
  display: flex;
  text-align: center;
  justify-content: space-between;
  background-color: var(--laranjacajui);
  width: 100%;
  height: fit-content;
}

#navbar p {
  /* Texto: "Cajuí + Rio Grande do Sul */
  color: #ffffff;
  margin: 0% 2%;
  font-weight: 900;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

a #doeagora {
  /* Botão doe agora */
  font-weight: 900;
}

#doeagora:hover,
:focus {
  color: var(--laranjacajui);
  background: #ffffff;
  border: 1px solid #000000;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
}

#list {
  /* Icone da lista suspensa */
  z-index: 5;
  position: sticky;
  width: 60px;
  height: 30px;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: nowrap column;
  background-color: var(--laranjacajui);
  border-radius: 10px;
  transition: all 0.5s;
}

#list:hover {
  background-color: white;
  cursor: pointer;
}

#list:active {
  background-color: var(--begecajui);
  cursor: pointer;
  border-radius: 999px;
}

/* Botões */

button {
  position: fixed;
  right: 1%;
  bottom: 1%;
  display: block;
  margin: auto;
  font-weight: 900;
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 25px;
  font-weight: 500;
  color: var(--laranjacajui);
  text-shadow: none;
  background: transparent;
  cursor: pointer;
  box-shadow: transparent;
  border: 1px solid #00000052;
  transition: 0.5s ease;
  user-select: none;
}

a {
  animation: in 0.2s ease-in;
  display: flex;
  background-color: aliceblue;
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  transition: all 0.5s;
}

a:hover {
  background-color: var(--begecajui);
  cursor: pointer;
}

#links {
  /*Botoões da lista */
  z-index: 5;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: nowrap row;
  font-size: var(--fontsize2);
  pointer-events: auto;
}

#links .hide {
  pointer-events: none; /* Faz com que os itens não sejam clicáveis em opacidade 0 */
  opacity: var(--opacity);
  animation-duration: 0.1s;
}

a:active {
  font-size: var(--fontsize1);
}

a {
  text-decoration: none;
  color: #fd8900;
}

/* Conteúdo: Textos, imagens */

#content h1 {
  font-size: var(--fontsize1);
  display: flex;
  align-items: left;
  justify-content: center;
}

#content p {
  font-size: var(--fontsize2);
  margin: auto;
  width: 80%;
  height: 100%;
}

h2 {
  display: flex;
  color: var(--fontcolor);
  text-align: center;
  justify-content: right;
  font-size: var(--fontsize3);
  margin: auto;
}

li {
  list-style: upper-roman;
  margin: 5%;
  background-color: #ffffff;
  padding: 5%;
  transition: all 0.5s ease-in;
}

#alttext {
  /* Texto alternativa de imagens onde necessário*/
  font-size: 12px;
  visibility: hidden;
  justify-content: center;
  align-items: center;
  display: flex;
}

section:hover #alttext {
  /*Texto alternativo viísvel em hover */
  visibility: visible;
}

section img:hover {
  border: #ffff solid 10px;
  box-shadow: var(--laranjacajui) 5px 5px;
}

section img {
  display: block;
  margin: 10% auto 0 auto;
  width: 100%;
  height: 100%;
  max-width: 80%;
  max-height: 1000px;
  border: var(--laranjacajui) solid 10px;
  border-radius: 9px;
  box-shadow: rgb(255, 255, 255) 5px 5px;
  transition: all 0.5s;
}

section {
  margin: 5% auto;
  width: 100%;
  height: 100%;
  max-width: 1000px;
  max-height: 1000px;
}

/* Conteúdos tela inteira*/

.blackbackground {
  margin: 0 0 10% 0;
  background-blend-mode: color;
  background-color: #000000a8;
  width: 100%;
  height: 1259px;
  display: flex;
}

/* Seção 1 */

#welcome {
  background-size: cover;
  background-image: url(/static/Images/fundo-social_solidariedade-doacoes-rio-grande-do-sul-carreta-empresa-kothe_fm_-51.webp);
}

#welcome h1 {
  color: #ffffff;
  text-align: center;
  font-size: 64px;
  margin: auto;
}

/* Seção 2 */
#heroes {
  background-size: cover;
  background-image: url(/static/Images/doaçãogarrafasdgua.webp);
}

#heroes h1 {
  color: #ffffff;
  text-align: center;
  font-size: 64px;
  margin: auto;
}

/* Seção 3 */

#howtohelp {
  background-size: cover;
  background-image: url(/static/Images/portao-bombeiros-06_0.webp);
}

#howtohelp h1 {
  color: #ffffff;
  text-align: center;
  font-size: 64px;
  margin: auto;
}

/* Texto + Conteúdo */

#textbox {
  justify-content: center;
  display: flex;
  flex-flow: nowrap;
  margin: auto;
}

/* Pessoas que doaram */

.person {
  text-align: center;
  padding: 1px;
  margin: 1% auto;
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  background-color: #ffffff;
  max-width: 499px;
  height: 50px;
  list-style: none;
  border-radius: 25px;
  transition: all 0.1s;
}

.person ion-icon {
  width: 30px;
  min-width: 100px;
  height: 100%;
  width: fit-content;
}

.person p {
  text-align: center;
  display: inline;
  font-size: var(--fontsize2);
}

#username {
  font-size: var(--fontsize2);
  margin: 5% 0;
  text-align: center;
}

#pessoa {
  background-color: #ffffff;
  margin-right: 6%;
  border: #000000 solid;
  border-radius: 999px;
}

input {
  width: 100%;
  border: 0;
  height: 50px;
  border-radius: 25px;
}

input:focus {
  border: 0;
  outline: none;
  height: 50px;
  border-radius: 25px;
}

#usernameinput:hover {
  border: var(--laranjacajui) 5px solid;
  border-radius: 999px;
  background-color: var(--laranjacajui);
}

/* Animação da barra suspensa*/

@keyframes in {
  from {
    font-size: 20px;
  }

  to {
    font-size: var(--fontsize2);
  }
}

/* Media Queries */

@media (max-width: 800px) {
  :root {
    --fontsize1: 20px;
    --fontsize2: 11px;
    --fontsize3: 15px;
  }

  a {
    font-size: 10px;
  }

  section img {
    display: block;
    margin: 10% auto;
    width: 80%;
    height: 100%;
    border-radius: 9px;
  }

  section {
    margin: 10% auto;
    width: 100%;
    height: 100%;
    max-width: 1000px;
    max-height: 1000px;
  }

  #alttext {
    margin: 10%;
    display: flex;
    font-size: 12px;
    visibility: visible;
    justify-content: center;
    align-items: flex-end;
  }

  #content p {
    font-size: var(--fontsize2);
    margin: auto;
    width: 80%;
    height: 100%;
  }

  #welcome {
    background-position: center;
  }

  #heroes {
    background-position: right;
  }
}
